<div class="container-fluid">

    <div class="row justify-content-center">
        <div class="col-sm-6 p-3 border">
            <state-display></state-display>
        </div>
        <div class="col-sm-6 p-3 border">
            <live-view></live-view>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-sm-6 p-3 border">
            <logs-view></logs-view>
        </div>
        <div class="col-sm-6 p-3 border">
            <controls></controls>
        </div>
    </div>

</div>