<div id="overlay" ng-show="!$ctrl.isAuthenticated"><span class="login-prompt">Sign in to access controls</span></div>

<div class="container-fluid controls text-center" ng-keydown="keypress($event)" tabindex="0">
    <div class="row row-cols-3 no-gutters">
        <div class="col-sm-4">
            <button ng-click="$ctrl.auto()" class="btn btn-primary btn-lg auto-button">Auto</button>
        </div>
        <div class="col-sm-8"></div>
    </div>

    <div class="row row-cols-3 no-gutters">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <button ng-click="$ctrl.forward()" class="btn btn-lg btn-dark"><i class="fas fa-caret-square-up fa-3x"></i></button>
        </div>
        <div class="col-sm-4"></div>
    </div>
    
    <div class="row row-cols-3 no-gutters">
        <div class="col-sm-4">
            <button ng-click="$ctrl.left()" class="btn btn-dark btn-lg"><i class="fas fa-caret-square-left fa-3x"></i></button>
        </div>
        <div class="col-sm-4">
            <button ng-click="$ctrl.backward()" class="btn btn-dark btn-lg"><i class="fas fa-caret-square-down fa-3x"></i></button>
        </div>
        <div class="col-sm-4">
            <button ng-click="$ctrl.right()" class="btn btn-dark btn-lg"><i class="fas fa-caret-square-right fa-3x"></i></button>
        </div>
    </div>

    <div class="row row-cols-3 no-gutters">
        <div class="col-sm-12">
            <button ng-click="$ctrl.allStop()" class="btn btn-danger btn-lg btn-block stop-button">STOP</button>
        </div>
    </div>
</div>