@control_button_height: 80px;

@control_panel_width: 30vw;

.controls {

width: @control_panel_width;

    button {
        height: @control_button_height;
    }
    .auto-button {
        border-radius: @control_button_height / 2;
    }

    .stop-button {
        margin: 5px auto;
    }
}