.state-display {
    th {
        margin-bottom: 0.1rem;
        padding-bottom: 0;
        width: 33.3%;
    }
}

.gauge {
    width: 35%;
    display: inline-block;
}

#motor_1_gauge {
    margin-right: -30px;
}

#motor_2_gauge {
    margin-left: -30px;
}