<!-- <div class="container-fluid">
    <table class="table state-display table-sm">
        <tr>
            <th scope="col">S1</th>
            <th scope="col">S2</th>
            <th scope="col">S3</th>
        </tr>

        <tr>
            <td>{{$ctrl.sensor_1}}</td>
            <td>{{$ctrl.sensor_2}}</td>
            <td>{{$ctrl.sensor_3}}</td>
        </tr>

        <tr>
            <th scope="col" colspan = "3">STATE</th>
        </tr>
        <tr>
            <td colspan = "3">{{$ctrl.state}}</td>
        </tr>
        <tr>
            <th scope="col">Motor 1</th>
            <th></th>
            <th scope="col">Motor 2</th>
        </tr>
        <tr>
            <td> {{$ctrl.motor_1}} </td>
            <td></td>
            <td> {{$ctrl.motor_2}} </td>
        </tr>
    </table>
</div> -->
<div class="container-fluid" id="state-display-container">
    <div class="gauge-wrapper">

        <div kendo-chart="$ctrl.distance" k-options="$ctrl.distanceOptions" class="gauge" id="distance_gauge" ></div>
            
        <div kendo-arcgauge="$ctrl.motorGauge1" k-options="$ctrl.motorGauge1Options" class="gauge" id="motor_1_gauge"></div>

        <div kendo-arcgauge="$ctrl.motorGauge2" k-options="$ctrl.motorGauge2Options" class="gauge" id="motor_2_gauge"></div>

        <span class="gauge" id="state_gauge">
            {{$ctrl.state}}
        </span>

    </div>
</div>