<div class="container-fluid">
    <table class="table table-sm">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Event</th>
                <th scope="col">State</th>
                <th scope="col">M1</th>
                <th scope="col">M2</th>
                <th scope="col">S1</th>
                <th scope="col">S2</th>
                <th scope="col">S3</th>
            </tr>
        </thead>
        <tbody>
            <!-- TODO: ng-repeat the logs -->
            <tr>
                <td>08.05T11:12</td>
                <td>CMD:FWD</td>
                <td>IDLE</td>
                <td>0</td>
                <td>0</td>
                <td>113</td>
                <td>23</td>
                <td>59</td>
            </tr>
        </tbody>
    </table>
</div>