<div class="container-fluid">
    <table class="table table-sm">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Event</th>
                <th scope="col">State</th>
                <th scope="col">M1</th>
                <th scope="col">M2</th>
                <th scope="col">S1</th>
                <th scope="col">S2</th>
                <th scope="col">S3</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="log in $ctrl.logs">
                <td>
                    {{log.time}}
                </td>
                <td>
                    {{log.event}}
                </td>
                <td>
                    {{log.state}}
                </td>
                <td>
                    {{log.M1}}
                </td>
                <td>
                    {{log.M2}}
                </td>
                <td>
                    {{log.S1}}
                </td>
                <td>
                    {{log.S2}}
                </td>
                <td>
                    {{log.S3}}
                </td>
            </tr>
        </tbody>
    </table>
</div>