<div class="navbar navbar-dark bg-dark navbar-static">

    <div class="navbar-header">
        <a href="/dashboard" class="navbar-brand">Carantine Controls</a>
    </div>

    <nav class="nav navbar-right">
        <a href="/dashboard" class="nav-item nav-link">Dashboard</a>
        <a href="/settings" class="nav-item nav-link">Settings</a>
        <a href="/about" class="nav-item nav-link">About</a>
        <div class="nav-item dropdown" ng-class="{show: $ctrl.showDropdown}">
            <button class="btn btn-secondary dropdown-toggle nav-link" type="button" data-toggle="dropdown" ng-click="$ctrl.showDropdown = !$ctrl.showDropdown">
                {{$ctrl.signInButtonText}}
            </button>
            <div class="dropdown-menu dropdown-menu-right" ng-class="{show: $ctrl.showDropdown}">
                <login></login>
            </div>
        </div>
    </nav>
    
</div>